.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.joke {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  width: 45rem;
  margin: 5px auto;
  padding: 25px;
  border: 5px dashed #00ff40;
  color:green;

  
}


.answer-button{
  background-color: black;
  color:#00ff40;
  border: 3px outset #00ff40;
      font-family:'computer-pixel';
      font-size: 4.2rem;
}

.answer-button:hover {
  color: white;
  border-color: white;
}

.punch-line {
  color: white;


}

.find-btn {
  height: 9.5rem;
  width: 25rem;
  border: 0.5rem outset white;
  color: blanchedalmond;
  background-color: black;
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 5.5rem;
  margin-top: 4.5rem;
      font-family:'computer-pixel';
      font-size: 4.2rem;
  
}

.find-btn:hover {
  color: #00ff40;
  border-color: #00ff40;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 4.2rem;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 10.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  margin: 0 auto;
}